.status-bar {
    background-color: var(--color-bg-2);
    height: 1.5rem;

    &__item {
        &:not(:last-child) {
            margin-right: 0.25rem;
        }

        &--tooltipped {
            &:hover {
                background-color: var(--link-hover-background-color);
                color: var(--link-hover-color);
            }
        }
    }

    &__text {
        padding-top: 0.0625rem; // 1px
    }
}
